<div class="widebox" id="calendarcontainer">
	<div class="centerbox">
		<div ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources" calendar="eventCalendar"></div> 
	</div>
	
	<div class="widebox loadingbox" ng-hide="eventSources.length > 0">
		<div class="centerbox">
			<loading style="color:white">Läser in events...</loading>
		</div>
	</div>
</div>

<div class="centerbox textbox" ng-show="selectedEvent" style="margin-top:10px">
	<button type="button" ng-click="closeEvent()" class="btn btn-default" style="float:right">
		Stäng <span class="glyphicon glyphicon-remove"></span> 
	</button>
	<div class="clear"></div>
	
	<h2>{{selectedEvent.Title}}</h2>
	<div class="row">
		<div class="col-md-3">
			<dl>
				<dt>Datum och tid</dt>
				<dd>{{selectedEvent.StartDate}}</dd>
				
				<dt>Längd</dt>
				<dd ng-hide="selectedEvent.Duration <= 0">{{selectedEvent.Duration}} timmar</dd>
				<dd ng-show="selectedEvent.Duration <= 0">hela dagen</dd>
				
				<dt>Plats</dt>
				<dd>{{selectedEvent.Location}}</dd>
			</dl>
		</div>
		<div class="col-md-9">
			<p>{{selectedEvent.Description}}</p>
		</div>
	</div>
</div>

<div style="height:20px;"></div>
