<div class="widebox" id="infobox-container">
	<div class="centerbox">
		<div class="container">
			<div class="row infobox" ng-class="{minimized:minimized}">
				<div class="col-md-8">
					<h1>40k ligan v15</h1>
					<p>2015-01-01 och framåt</p>
					<p>En kul liga för våra medlemmar</p>
				</div>
				
				<div class="col-md-4">
					<a href="#/league/1/reportmatch">Raportera Match</a>
				</div>
			</div>
		</div>
		<div id="infobox-closer">
			<a ng-click="minimized=!minimized">
				<img src="media/league-info-open.png" />
			</a>
		</div>
	</div>
</div>

<div class="centerbox" style="margin-top:10px;">
	<div class="tabbuttonholder">
		<ul class="list-inline">
			<li>
				<a ng-click="tab='leaderboard'" ng-class="{tab=='leaderboard':selected}">Ledartavla</a>
			</li>
			<li>
				<a ng-click="tab='chart'" ng-class="{tab=='chart':selected}">Poängkurva</a>
			</li>
		</ul>
	</div>
	<div ng-switch on="tab">
		<div ng-switch-default class="leaderboard">
			<!-- Leaderboard -->
			
			<table class="table">
				<thead>
					<tr>
						<th>
							Namn
						</th>
						<th>
							Vinster
						</th>
						<th>
							Oavgjort
						</th>
						<th>
							Poäng
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in leaderboard">
						<td>
							{{player.Name}}
						</td>
						<td>
							{{player.Wins}}
						</td>
						<td>
							{{player.Draws}}
						</td>
						<td>
							{{player.Score}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div ng-switch-when="chart">
			<!-- Chart -->
		</div>
	</div>
</div>