<div class="widebox" id="infobox-container">
	<div class="centerbox" ng-show="league.$resolved">
		<div class="container">
			<div class="row infobox" ng-class="{minimized:minimized}">
				<div class="col-xs-8">
					<h1>{{league.Name}}</h1>
					<p ng-show="league.EndDate">{{league.StartDate | date:'mediumDate'}} till {{league.EndDate | date:'mediumDate'}}</p>
					<p ng-hide="league.EndDate">{{league.StartDate | date:'mediumDate'}} och framåt</p>
					<p>{{league.Description}}</p>
				</div>
				
				<div class="col-xs-4">
					<a href="#/leagues/{{league.leagueId}}/reportmatch" ng-show="leagueActive">Raportera Match</a>
				</div>
			</div>
		</div>
		<div id="infobox-closer">
			<a ng-click="minimized=!minimized">
				<img src="media/league-info-open.png" />
			</a>
		</div>
	</div>
	
	<div class="centerbox" ng-hide="league.$resolved">
		<loading style="color:white">Läser in information och ledartavla...</loading>
	</div>
</div>

<div class="centerbox" ng-hide="league.$resolved==false || leaderboard.length > 0">
	<h1>Inga matcher har spelats än</h1>
</div>

<div class="centerbox" style="margin-top:10px;" ng-show="league.$resolved && leaderboard.length > 0">
	<div class="tabbuttonholder">
		<ul class="list-inline">
			<li ng-class="{selected: tab=='leaderboard'}">
				<a ng-click="tab='leaderboard'">Ledartavla</a>
			</li>
			<li ng-class="{selected: tab=='chart'}">
				<a ng-click="tab='chart'">Poängkurva</a>
			</li>
		</ul>
	</div>
	<div style="clear:both;"></div>
	<div ng-switch on="tab" style="margin-bottom:20px;">
		<div ng-switch-default class="leaderboard">
			<!-- Leaderboard -->
			
			<table class="table">
				<thead>
					<tr>
						<th>
							Namn
						</th>
						<th>
							Vinster
						</th>
						<th>
							Oavgjort
						</th>
						<th>
							Förluster
						</th>
						<th>
							Poäng
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in leaderboard">
						<td>
							{{player.Name}}
						</td>
						<td>
							{{player.Wins}} ({{player.SWins}})
						</td>
						<td>
							{{player.Draws}} ({{player.SDraw}})
						</td>
						<td>
							{{player.Losses}} ({{player.SLoss}})
						</td>
						<td>
							{{player.Score}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div ng-switch-when="chart" class="chart">
			<!-- Chart -->
			
			<div class="chart-top">
				<p>Poängkurva</p>
			</div>
			
			<div google-chart chart="chartObject" class="scorechart"></div>
		</div>
	</div>
</div>
