<div class="centerbox" style="margin-top:20px;">
	<div class="jumbotron">
		<h1>Ligor!</h1>
		<p>Nedan listas ligor som pågår i KiB's regi!</p>
		<p>De markerade med grönt är pågående, så joina en och kötta vet jag :D</p>
	</div>
	
	<div ng-show="leagues">
		<table class="table table-hover">
		<thead>
			<tr>
				<th>Namn</th>
				<th>Startdatum</th>
				<th>Slutdatum</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="league in leagues" ng-click="onSelectedLeague(league);">
				<td>
					{{league.Name}}
				</td>
				<td>
					{{league.StartDate}}	
				</td>
				<td>
					{{league.EndDate}}	
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

<div ng-hide="leagues">
	<loading>Läser in ligor...</loading>
</div>