<div class="centerbox" style="margin-top:20px;" ng-show="auth">
	<div class="jumbotron">
		<h2>Välkommen {{auth.user}}, hur gick matchen?</h2>
	</div>
	
	<form name="matchform" novalidate role="form" ng-submit="reportMatch()" ng-hide="saveProcess">
		<div class="form-group">
			<label>Vem mötte du</label>
			<angucomplete id="opponent"
              pause="400"
              selectedobject="selectedOpponent"
			  minlength = "2"
			  inputclass="form-control"
              url="http://kibdev.crabdance.com/modend/api/authinfo/completeusername/"
              titlefield="username"
			  required/>
		</div>
		<div class="form-group">
			<label>Vilket datum spelades matchen</label>
			<div datetimepicker disable-time-pick="true" class="input-group date">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
				<input type="text" class="form-control" ng-model="match.MatchDate" readonly required>
			</div>
		</div>
		
		<div class="form-group">
			<label>Hur gick det?</label>
			
			<div class="row">
				<div class="col-xs-4">
					<input type="radio" name="winner" ng-model="match.Winner" value="1" required="!winner">Jag vann</input>
				</div>
				<div class="col-xs-4">
					<input type="radio" name="winner" ng-model="match.Winner" value="2" required="!winner">Jag förlorade</input>
				</div>
				<div class="col-xs-4">
					<input type="radio" name="winner" ng-model="match.Winner" value="0" required="!winner">Det blev lika</input>
				</div>
			</div>
		</div>
		
		<input type="submit" class="btn btn-primary" value="Rapportera match" ng-disabled="matchform.$invalid"/>
	</form>
</div>

<div class="centerbox" ng-hide="auth" style="margin-top:20px;">
	<loading>Kontrollerar användarinfo...</loading>
</div>

<div class="centerbox" ng-show="saveProcess" style="margin-top:20px;">
	<loading ng-hide="saveProcess.$resolved">Matchen sparas...</loading>
	<div ng-show="saveProcess.$resolved">
		<h1>Matchen sparad!</h1>
		<a href="#/league/{{leagueId}}">Återgå</a>
	</div>
</div>