<div id="slidecontainer">
	<div class="centerbox" id="slidecenter">
		<ul rn-carousel rn-carousel-auto-slide="10" rn-carousel-indicator='true' rn-carousel-transition='slideAndFade'>
			<li ng-repeat="img in imglist">
				<div ng-style="{'background-image': 'url(' + img + ')'}" class="slideframe">
					<h1>A fun place to be</h1>
					<p>Some good text here describing how awesome we are!!!!</p>
					<p>{{img}}</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="linkgrid" class="centerbox">
	<div class="linkboxleft linkbox" id="">
		<h1>BILDGALLERI</h1>
	</div>
	<div class="linkboxright linkbox" id="">
		<h1>FORUM</h1>
	</div>
	
	<div style="clear:both;"></div>
	<div class="linkboxleft linkbox" id="">
		<h1>OM OSS</h1>
	</div>
	<div class="linkboxright linkbox" id="">
		<h1>EVENT KALENDER</h1>
	</div>
	
	<div style="clear:both;"></div>
</div>