<div id="slidecontainer">
	<div class="centerbox" id="slidecenter">
		<ul rn-carousel rn-carousel-auto-slide="10" rn-carousel-indicator='true' rn-carousel-transition='slideAndFade'>
			<li ng-repeat="img in imglist">
				<div ng-style="{'background-image': 'url(' + img + ')'}" class="slideframe">
					<h1>A fun place to be</h1>
					<p>Some good text here describing how awesome we are!!!!</p>
					<p>{{img}}</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="linkgrid" class="centerbox">
	<a href="#/gallery">
		<div class="linkboxleft linkbox" id="" style="background-image:url(media/gallery.png);">
			<div class="lowerbar">
				<p>BILDGALLERI</p>
			</div>
		</div>
	</a>
	
	<a href="#/forum">
		<div class="linkboxright linkbox" id="" style="background-image:url(media/forum.png);">
			<div class="lowerbar">
				<p>FORUM</p>
			</div>
		</div>
	</a>
	
	<div style="clear:both;"></div>
	<a href="#/about">
		<div class="linkboxleft linkbox" id="" style="background-image:url(media/about.png);">
			<div class="lowerbar">
				<p>OM OSS</p>
			</div>
		</div>
	</a>
	
	<a href="#/events">
		<div class="linkboxright linkbox" id="" style="background-image:url(media/calendar.png);">
			<div class="lowerbar">
				<p>EVENT KALENDER</p>
			</div>
		</div>
	</a>
	
	<div style="clear:both;"></div>
</div>