.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
#footercontainer , .page-wrap:after {
  height: 30px; 
}

#footercontainer {
	margin-top:20px;
	height:30px;
	background-color:#707969;
}

#footercontent{
	line-height:30px;
}

#footercontent p {
	color:white;
	padding:0;
	margin:0;
	vertical-align:center;
	float:left;
}

.socialmediaimage {
	height:25px;
	margin-top:2.5px;
	float:right;
}