.galleryrowholder {
	overflow: hidden;
	margin-top:30px;
	min-height:200px;
	text-align:center;
}

.galleryrow {
	list-style-type:none;	
	padding:0;
}

.galleryrow li{
	display:inline-block;
	margin:5px;
}

.galleryrow img{
	height:200px;
}