.galleryrowholder {
overflow: hidden;
	margin-top:30px;
	min-height:200px;
	text-align:center;
}

.galleryrowholder ul {
	list-style-type:none;	
	padding:0;
}

.galleryrowholder ul li{
	display:inline-block;
}

.galleryrowholder img{
	height:200px;
}