#infobox-container{
	margin-top:20px;
	padding:10px 0 10px 0;
	background-color:#707969;	
}

.infobox{
	 -webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;

	height:300px;
	color:white;
}

.infobox.minimized {
	height:10px;
}

.infobox a {
	color:white;
	text-decoration:underline;
}

#infobox-closer{
	height:20px;
	text-align:center;
}

.leaderboard thead {
	background-color:#707969;
	border:none;
	border-top:2px solid #353B31;
	color:white;
	height:35px;
}

.leaderboard tbody tr:first-child {
	border:none;
}

.tabbuttonholder {
	z-index:5;
	background-color: #353B31;
	margin:0;
	margin-bottom:-2px;
	float:right;
	border-top-left-radius:5px;
	height:30px;
	line-height:30px;
	padding:0 10px 0 15px;
}

.tabbuttonholder a {
	font-size:14px;
	color:white;
	text-decoration:underline;
}

.tabbuttonholder li {
	text-align:center;
	display:inline-block;
	height:25px;
	vertical-align:bottom;
	margin-bottom:0;
	padding:0,10px, 10px, 0;
}

.tabbuttonholder li.selected {
	background-color:#707969;
}

/* GRAPH */

.scorechart {
    height:500px;
    padding:0;
    margin:0;
}

.chart-top {
	background-color:#707969;
	border-top:2px solid #353B31;
	height:35px;
	line-height:35px;
}

.chart-top  p{
	color:white;
	padding-left:10px;
	vertical-align:center;
	font-size:13px;
	text-weight:bold;
}