#infobox-container{
	margin-top:20px;
	padding:10px 0 10px 0;
	background-color:#707969;	
}

.infobox{
	 -webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;

	height:300px;
	color:white;
}

.infobox.minimized {
	height:10px;
}

.infobox a {
	color:white;
	text-decoration:underline;
}

#infobox-closer{
	height:20px;
	text-align:center;
}

.leaderboard thead {
	background-color:#707969;
	border:none;
	border-top:2px solid #353B31;
	color:white;
}

.leaderboard tbody tr:first-child {
	border:none;
}