#menubarcontainer {
	background-color:#707969;	
	margin:0;
}

#menubar {
	height:40px;
	background-color:#707969;
	text-align:center;
}

#menubar ul {
	list-style-type:none;	
	padding:0;
}

#menubar ul li {
	display:inline-block;
	text-align:center;
	padding:0 20px 0 20px;
	border-right:1px solid #353B31;
}

#menubar ul li:first-child  {
	padding-left:0;
}

#menubar ul li:last-child  {
	border:none;
	padding-right:0;
}

#menubar ul li a{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 13px;
	color:white;
	vertical-align:center;
	line-height:40px;
}
