#slidecontainer{
	margin-top:20px;
	width:100%;
	height:480px;
	background-color: #707969;
}

#slidecenter {
	height:100%;
	width:1024px;
}

#slidecenter ul {
	height:100%;
	z-index:2;
	position:relative;
	top:-480px;
}

#slidecenter ul li {
	height:100%;
	color:white;
	padding:30px;
}

bg-video {
	margin:0 auto 0 auto;
	padding:0;
	background-color:#707969;
	z-index:1;
	display:block;
	height:480px;
	width:720px;
}

bg-video video {
	object-fit:fill;
	margin:0 auto 0 auto;
	padding:0;
	background-color:#707969;
}