<div class="centerbox" style="margin-top:20px;">
	<div class="jumbotron">
		<h1>Ligor!</h1>
		<p>Nedan listas ligor som pågår i KiB's regi!</p>
		<p>Joina en och kötta vet jag :D</p>
	</div>
	
	<div ng-show="leagues.$resolved && leagues.length > 0">
		<table class="table table-hover">
		<thead>
			<tr>
				<th>Namn</th>
				<th>Startdatum</th>
				<th>Slutdatum</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="league in leagues" ng-click="onSelectedLeague(league);">
				<td>
					{{league.Name}}
				</td>
				<td>
					{{league.StartDate | date:'mediumDate'}}	
				</td>
				<td>
					{{league.EndDate | date:'mediumDate' || 'ej specifierat'}}	
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<div ng-show="leagues.$resolved && leagues.length == 0">
		<h1>Inga ligor för tillfället :(</h1>
	</div>
</div>

<div ng-hide="leagues.$resolved">
	<loading>Läser in ligor...</loading>
</div>