<div class="widebox" id="menubarcontainer" ng-controller="NavbarCtrl">
				<div class="centerbox" id="menubar">
					<ul>
						<li>
							<a href="#/gallery">Bildgalleri</a>
						</li>
						<li>
							<a href="#/events">Eventkalender</a>
						</li>
						<li>
							<a href="#/leagues">Ligor</a>
						</li>
						<li>
							<a href="/forum">Forum</a>
						</li>
					</ul>
				</div>
				<div id="menubar-narrow">
					<ul>
						<li>
							<a href="#/gallery"><img src="media/menu-gallery.png"/></a>
						</li>
						<li>
							<a href="#/events"><img src="media/menu-calendar.png"/></a>
						</li>
						<li>
							<a href="#/leagues"><img src="media/menu-league.png"/></a>
						</li>
						<li>
							<a href="/forum"><img src="media/menu-forum.png"/></a>
						</li>
					</ul>
				</div>
			</div>