<div class="page-header clearfix">
	<h1 class="pull-left">Existing tournaments</h1>
	
	<Button class="btn btn-primary pull-right">New tournament</Button> 
</div>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Date</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	
	<tr ng-repeat="tournament in tournaments">
		<td>
			<div class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-folder-open" ng-click="openTournament(tournament.id)"></span>	
			</div>
		</td>
		<td>
			{{tournament.name}}
		</td>
		<td>
			{{tournament.date}}
		</td>
		<td>
			{{tournament.status}}
		</td>
		<td>
			<div class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-edit" ng-click="doEdit(tournament)"></span>	
			</div>
		</td>
	</tr>
</table>

