<div class="well" style="margin-top:10px;">
    <h2>Add player to tournament</h2>
    
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add from forum
                </div>
                <div class="panel-body">
                    <form ng-submit="addFromForum()">
                        <div class="form-group" ng-if="auth.authlevel > 1">
                            <label>Forum username</label>
                            <input type="text" ng-model="forumUser"  typeahead="user.username for user in lookupUser($viewValue)" class="form-control" required>
                        </div>
                        
                        <input type="submit" class="btn btn-primary" value="Add player" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add from svenska40k.se
                </div>
                <div class="panel-body">
                    <form ng-submit="addFromSvenska40k()">
                        <div class="form-group" ng-if="auth.authlevel > 1">
                            <label>Player name on svenska-40k</label>
                            <input type="text" ng-model="40kuser"  typeahead="user.username for user in lookupUser($viewValue)" class="form-control" required>
                        </div>
                        
                        <input type="submit" class="btn btn-primary" value="Add player" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Direct input
                </div>
                <div class="panel-body">
                     <form ng-submit="addFromDirectInput()">
                        <div class="form-group" ng-if="auth.authlevel > 1">
                            <label>Player name</label>
                            <input type="text" ng-model="directInputPlayerName" class="form-control" required>
                        </div>
                        
                        <input type="submit" class="btn btn-primary" value="Add player" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<table class="table">
	<thead>
		<tr>
			<th>Player name</th>
			<th>Source</th>
			<th></th>
		</tr>
	</thead>
	
	<tr ng-repeat="player in tournament.players" ng-class="{dropout: !player.active}">
		<td>{{player.name}}</td>
		<td>{{player.source | sourceName}}<td>
		<td>
			<div class="btn btn-danger btn-xs" ng-show="tournament.status == 0">
				<span class="glyphicon glyphicon-trash" ng-click="doDelete(event)"></span>
			</div>
			
			<button class="btn btn-danger" ng-click="dropout(player)" ng-show="tournament.status > 0 && player.active">Dropout</button>
		</td>
	</tr>
</table>