<div class="centerbox" ng-show="auth">
	<h1>Admin Index</h1>

	<div class="container-fluid">
		<div class="row" ng-hide="auth.authlevel == 1">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Pages
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
							<li>
								<a href="#/admin/adminpage" class="btn btn-default widebox">Add New Page</a>
							</li>
							<li>
								<a href="#/admin/listpages" class="btn btn-default widebox">Administer pages</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Events
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
							<li>
								<a href="#/admin/adminevent" class="btn btn-default widebox">Add New Event</a>
							</li>
							<li>
								<a href="#/admin/listevents" class="btn btn-default widebox">Administer Events</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
				Logged in as {{auth.user}} at authentication level {{auth.authlevel | authlevelname}}
				<span ng-show="auth.authlevel == 1"><br />You do not have right to change any content!</span>
			</div>
		</div>
	</div>
</div>

<div class="centerbox" ng-hide="auth">
	<h1>Loading! please wait...</h1>
</div>