<div class="centerbox textbox">
	<h2>Administer event</h2>
	<form role="form" ng-submit="saveEvent()">
		<div class="form-group">
			<label>Title</label>
			<input class="form-control" type="text" ng-model="event.Title" />
		</div>
		
		<div class="form-group">
			<label>Location</label>
			<input class="form-control" type="text" ng-model="event.Location" />
		</div>
		
		<div class="form-group">
			<label>Start datetime</label>
			<div datetimepicker class="input-group date">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
				<input type="text" class="form-control" ng-model="event.StartDate">
			</div>
		</div>
	
		<div class="form-group">
			<label>End datetime</label>
			<div datetimepicker class="input-group date">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
				<input type="text" class="form-control"  ng-model="event.EndDate">
			</div>
		</div>
		
		<div class="form-group">
			<label>Description</label>
			<textarea class="form-control" ng-model="event.Description"></textarea>
		</div>
		
		<button type="submit" class="btn btn-default">{{buttonText}}</button>
	</form>
</div>